/* skin var */
/* global var */
.layui-header a, .layui-side a, .layui-footer, .layui-logo {
  color: #fff !important; }

.layui-header {
  background-color: #009688 !important; }
  .layui-header .layui-nav-child {
    background-color: #009688 !important; }
    .layui-header .layui-nav-child a:hover {
      background-color: #00c9b6 !important; }

.layui-side .layui-this a {
  background-color: #skin_df !important; }
.layui-side .layui-nav-side {
  top: 60px !important; }
.layui-side .layui-nav {
  background-color: #009688 !important; }
.layui-side .layui-nav-child {
  background-color: #007d71 !important; }
.layui-side .layui-nav-item > a:hover {
  background-color: #00c9b6 !important; }

.layui-footer {
  background-color: #009688 !important; }
