* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.w300 {
  width: 300px;
}
.img-warp img {
  height: 120px !important;
  cursor: pointer;
}
.skin-box .skin {
  display: inline-block;
  width: 50px;
  height: 50px;
}
