// rest
*{
  padding: 0;margin: 0;box-sizing: border-box;
}
html,body{ width:100%;height: 200px;overflow:hidden; }

// global class
.clearfix{overflow:hidden;_zoom:1;}
.fl{ float: left;}
.fr{ float: right; }
.hide{ display: none; }
.w300{ width:300px; }
.w200{ width:200px; }

.img-warp{
  img{
    height:120px !important;cursor:pointer;
  }
}
// swith and fix
.switch-menu-wrap{
  position: absolute;
  left: 200px;
  top: 0;
  width: 30px;
  height: 60px;
  font-size: 22px;
  color: white;
  line-height: 60px;
}
.layui-layout-left{
  left:230px !important;
}
//
.layui-body{
  transition:all .2s;padding: 20px !important;
}
.layui-body.change{
  left:0px!important;
  bottom: 0px!important;
}
// no scroll
.layui-table-body{ overflow:hidden!important; }
// skin-box
.skin-box{
  .skin{
    display:inline-block;width:50px;height: 50px;
  }
}